       
            *{
                scrollbar-width: thin
                ;
                scrollbar-color: #00287A whitesmoke;
            }
            body {
            background: url(pozadina.jpg) center;
            background-repeat: no-repeat;
            background-color: lightskyblue;
            background-attachment: fixed;
            font-family: "Rubik", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }
        .navbar{
            margin-top: 10px;
           position: relative;
        }
        .navbar .logo {
            position: relative;
            top: 0;
        }
      

        .navbar ul {
            margin: 0;
            display: flex;
            float: right;
            text-align: center;
            list-style: none;
            gap: 25px;

        }
                @media(max-width: 680px){
                    .navbar ul{
                       position: absolute;     
                    }
                    .logo{
                       position: fixed;
                       left: 35px;
                    }
                    h1{
                        opacity: 0;
                    }
                }
                

        .navbar a {
            text-decoration: none;
            font-size: 27px;
            font-weight: bold;
            color: #00287A;


        }

        .navbar .active {
            color: lightskyblue;
        }

        a:hover {
            transition: 0.4s;
            color: lightskyblue;
            cursor: pointer;
        }

        h1 {
            color: #00287A;
            margin-top: 5%;
            text-align: center;
            text-transform: uppercase;
            cursor: default;
            animation: h1 2s alternate infinite;
        }
        @keyframes h1 {
            from{color: #00287A;}
            to{color: lightskyblue;}
        }
        .kontejner{
            
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50%;
            flex-wrap:nowrap;
            
        }
        .kartica img{
            width: 400px;
        }
        .kartica {
            width: 400px;
            height: 500px;
            background-color: rgb(135, 206, 250, 0.4);
            overflow: auto;
            overflow-x: hidden;
            scrollbar-width: thin;
            border-radius: 10px;
            margin: 15px;
            border-style:solid ;
            border-color: whitesmoke;
        }

        .kartica h3 {
            padding-left: 15px;
            color: #00287A;
            font-weight: bold;
        }

        .kartica  p {
            padding-left:10px;
            padding-right: 10px;
            color: whitesmoke;
        }
        @media(max-width: 894px) {
            .kontejner{
                flex-wrap: wrap;
            }
        }
        #rez {
            font-weight: bold;
            text-decoration: underline;
        }
   

        .container{
            margin-top: 20px;
        }
        .model {
            width: 100%;
            background-color: rgb(245, 245, 245, 0.5);
            border-radius: 10px;
            border: ridge;
            border-color: #00287A;
            margin-bottom: 15px;
            position: relative;
        }
        .model a{
            text-decoration: none;
        }
      

        .model h3 {
            width: 100%;
            text-align: center;
            color: #00287A;
            text-align: center;
            

        }
        .sadrzaj{
            display:inline-flex;
            align-items: center;
            padding-right: 15px;
            font-weight: bold;
            color: #00287A;
        }

        .sadrzaj img{
            width: 300px;
        }
        .btncena {
             display: inline-flex;
             align-items: center;
             gap: 15px;
        }
       #btn{
        margin-left: 75px;
        margin-bottom: 10px;
        width: 100px;
        height: 50px;
        text-align: center;
        align-content: center;
        background-color:whitesmoke;
        color: #00287A;
        font-weight: bold;
        border-radius: 25px;
        border-style:solid;
        border-width: 3px;
        
        border-color: #00287A;
       }
       #btn:hover{
        background-color: #00287A;
        color:whitesmoke;
        border-color:whitesmoke;
        cursor: pointer;
        transition: 0.2s;
       }
       #cena{
        color: yellow;
       }
       .RadnoVreme{
        display: flex;
        justify-content: center;
        
        
       }
       .RadnoVreme table{
        width: 350px;
        height: 300px;
        border-style: solid;
        border-width: 5px;
        border-radius: 10px;
        border-color: #00287A;
        background-color: whitesmoke;
       }
        .RadnoVreme th{
            color: #00287A;
            text-align: center;
        }
        .RadnoVreme td{
            text-align: left;
            padding-left: 10px;
        }
        .RadnoVreme tr:nth-child(even){
            background-color: #00287A;
            color: whitesmoke;
        }
            .RadnoVreme tr:nth-child(odd) {
            color: #00287A;
        }
        .lokacije{
            margin: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        .lok{
            max-width: 650px;
            max-height: 650px;
            background-color: rgb(245, 245, 245, 0.2);
            border-radius: 10px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .lok img{
            padding: 15px;
            width: 600px;
            height: 300px;
        }
       .lok h3{
        color: #00287A;
        text-align: center;
       }
       .lok h4{
        display: inline-block;
        padding-left: 15px;
        color: #00287A;
        
       }
       .lok p{
        padding: 15px;
        color:whitesmoke;
       }
       hr{
        color: whitesmoke;
       }
       .forma{
        display: flex;
        align-items: center;
        justify-content: center;
       }
       form {
       margin: 10px;
       padding: 15px;
       background-color: rgb(245, 245, 245, 0.5);
       border-radius: 15px;
       border-style: solid;
       border-color: #00287A;
       
       
       }
       form input{
        padding: 15px;
        font-weight: bold;
        color: #00287A;
        margin-bottom: 10px;
        border-radius: 10px;
       }
       form label{
        color: #00287A;
        font-weight: bold;
        
       }
       form option{
        font-weight: bold;
        color: #00287A;
       }
       form select{
        width: 90px;
        height: 30px;
        font-weight: bold;
        border: #00287A;
        border-radius: 10px;
        border-style: solid;
        border-width: 2px;
       }
       .submit{
        float: right;
        width: 90px;
        height: 40px;
        font-weight: bold;
        color: #00287A;
        background-color: whitesmoke;
        border-radius: 10px;
        border-color: #00287A;
       }
       .submit:hover{
        color: whitesmoke;
        background-color: #00287A;
        cursor: pointer;
        transition: 0.4s;
        border-color: whitesmoke;
       }
       select:hover{
        color: whitesmoke;
        background-color: #00287A;
        transition: 0.4s;
        border-color: whitesmoke;
       }
       textarea{
        color: #00287A;
        font-weight: bold;
        border-radius: 10px;
        margin-bottom: 10px;
       }
       #grad{
        font-weight: normal;
       }
       #follow{
        color: whitesmoke;
       }
       .zaprati{
        display: flex;
        justify-content: center;
       
       }
       .zaprati img{
        width: 80px;
        margin: 25px;
       }
       .zaprati a :hover{
        opacity: 0.8;
        transition: 0.4s;
       }